@charset "UTf-8";

* 
  margin: 0
  padding: 0
  box-sizing: border-box

ol, ul 
  list-style: none

fieldset, img, input, button, select 
  border: none
  outline-style: none

a 
  text-decoration: none

em 
  color: red  

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, font, img,
ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
center, u, b, i
  border: 0
  outline: 0
  font-weight: normal
  font-style: normal
  font-size: 100%
  font-family: PingFang SC, sans-serif
  vertical-align: baseline

:focus
  outline: 0

table
  border-collapse: collapse;
  border-spacing: 0

blockquote:before, blockquote:after, q:before, q:after
  content: ""

blockquote, q
  quotes: ""

hr
  border: 0
  color: #000
  background-color: #000
  height: 1px

html
  height: 100%
  width: 100%
  font-family: 'Microsoft YaHei','Helvetica Neue','Helvetica','PingFang SC','Arial','Heiti SC','SimSun','sans-serif'

body
  position: relative
  height: 100%
  line-height: 1


/***清除浮动***/
.clear
  clear:both

.clearfix:after
  content: ""
  display:block
  clear:both

.clearfix:before,.clearfix:after 
  content: ""
  display: table

.clearfix
  *zoom: 1


